[Unit]
Description=Turns on backlight on keyboard
After=gdm.service

[Service]
Type=oneshot
ExecStart=/bin/bash -c "echo 1 > /sys/class/leds/input7::scrolllock/brightness"
ExecStop=/bin/bash -c "echo 0 > /sys/class/leds/input7::scrolllock/brightness"
RemainAfterExit=True

[Install]
WantedBy=multi-user.target
